<div class="filter_section">
    <a href="#filter" class="filter_btn">Filter <i class="fa fa-filter" aria-hidden="true"></i></a>
    <div id="filter" class="responsive_menu">
        <ul>
            <li>
                <span>Category</span>
                <div class="each_category">
                    <ul>
                        <li>
                            <span>
                                <input id="for_men" name="toppings" value="" type="checkbox">
                                <label for="for_men">For Men</label>
                            </span>
                        </li>

                        <ul style="padding:0 0 0 15px;">
                            <li>
                                <span>
                                    <input id="tshirt" name="toppings" value="" type="checkbox">
                                    <label for="tshirt">T-Shirt</label>
                                </span>
                            </li>

                            <li>
                                <span>
                                    <input id="casual_shirt" name="toppings" value="" type="checkbox">
                                    <label for="casual_shirt">Casual Shirt</label>
                                </span>
                            </li>

                            <li>
                                <span>
                                    <input id="formal_shirt" name="toppings" value="" type="checkbox">
                                    <label for="formal_shirt">Formal Shirt</label>
                                </span>
                            </li>
                        </ul>

                    </ul>
                    <ul>
                        <li>
                            <span>
                                <input id="for_women" name="toppings" value="" type="checkbox">
                                <label for="for_women">For Women</label>
                            </span>
                        </li>
                        <ul style="padding:0 0 0 15px;">
                            <li>
                                <span>
                                    <input id="designer_sarees" name="toppings" value="" type="checkbox">
                                    <label for="designer_sarees">Designer Sarees</label>
                                </span>
                            </li>

                            <li>
                                <span>
                                    <input id="salwars" name="toppings" value="" type="checkbox">
                                    <label for="salwars">Salwars</label>
                                </span>
                            </li>

                            <li>
                                <span>
                                    <input id="lenghas" name="toppings" value="" type="checkbox">
                                    <label for="lenghas">Lenghas</label>
                                </span>
                            </li>
                        </ul>
                    </ul>

                    <ul>
                        <li>
                            <span>
                                <input id="for_kids" name="toppings" value="" type="checkbox">
                                <label for="for_kids">For Kids</label>
                            </span>
                        </li>
                        <ul style="padding:0 0 0 15px">
                            <li>
                                <span>
                                    <input id="t-shirt_kids" name="toppings" value="" type="checkbox">
                                    <label for="t-shirt_kids">T-Shirt</label>
                                </span>
                            </li>

                            <li>
                                <span>
                                    <input id="casual_shirt_kids" name="toppings" value="" type="checkbox">
                                    <label for="casual_shirt_kids">Casual Shirt</label>
                                </span>
                            </li>

                            <li>
                                <span>
                                    <input id="jeans" name="toppings" value="" type="checkbox">
                                    <label for="jeans">Jeans</label>
                                </span>
                            </li>
                        </ul>
                    </ul>
                </div>
            </li>

            <li>
                <span>Prices</span>
                <div class="each_category ">
                    <ul class="price_holder">
                        <ul>
                            <li>
                                <span>
                                    <input id="tshirt2" name="toppings" value="" type="checkbox">
                                    <label for="tshirt2">300-500</label>
                                </span>
                            </li>

                            <li>
                                <span>
                                    <input id="casual_shirt2" name="toppings" value="" type="checkbox">
                                    <label for="casual_shirt2">500-1000</label>
                                </span>
                            </li>

                            <li>
                                <span>
                                <input id="formal_shirt2" name="toppings" value="" type="checkbox">
                                    <label for="formal_shirt2">1000-1500</label>
                                </span>
                            </li>
                        </ul>
                    </ul>

                    <ul class="price_holder">
                        <ul>
                            <li>
                                <span>
                                    <input id="designer_sarees2" name="toppings" value="" type="checkbox">
                                    <label for="designer_sarees2">1500-2000</label>
                                </span>
                            </li>

                            <li>
                                <span>
                                <input id="salwars2" name="toppings" value="" type="checkbox">
                                    <label for="salwars2">2000-2500</label>
                                </span>
                            </li>

                            <li>
                                <span>
                                <input id="lenghas2" name="toppings" value="" type="checkbox">
                                    <label for="lenghas2">2500-3000</label>
                                </span>
                            </li>
                        </ul>
                    </ul>

                    <ul class="price_holder">
                        <ul>
                            <li>
                                <span>
                                    <input id="t-shirt_kids2" name="toppings" value="" type="checkbox">
                                    <label for="t-shirt_kids2">3000-3500</label>
                                </span>
                            </li>

                            <li>
                                <span>
                                <input id="casual_shirt_kids2" name="toppings" value="" type="checkbox">
                                    <label for="casual_shirt_kids2">3500-4000</label>
                                </span>
                            </li>

                            <li>
                                <span>
                                <input id="jeans2" name="toppings" value="" type="checkbox">
                                    <label for="jeans2">4000-4500</label>
                                </span>
                            </li>
                        </ul>
                    </ul>
                </div>
            </li>

            <li>
                <span>Discount</span>
                <div class="each_category">
                    <ul class="price_holder">
                        <ul>
                            <li>
                                <span>
                                    <input id="tshirt1" name="toppings" value="" type="checkbox">
                                    <label for="tshirt1">10%</label>
                                </span>
                            </li>

                            <li>
                                <span>
                                    <input id="casual_shirt1" name="toppings" value="" type="checkbox">
                                    <label for="casual_shirt1">30%</label>
                                </span>
                            </li>
                            <li>
                                <span>
                                    <input id="formal_shirt1" name="toppings" value="" type="checkbox">
                                    <label for="formal_shirt1">40%</label>
                                </span>
                            </li>
                        </ul>
                    </ul>

                    <ul class="price_holder">
                        <ul >
                            <li>
                                <span>
                                    <input id="designer_sarees1" name="toppings" value="" type="checkbox">
                                    <label for="designer_sarees1">50%</label>
                                </span>
                            </li>
                            <li>
                                <span>
                                    <input id="salwars1" name="toppings" value="" type="checkbox">
                                    <label for="salwars1">60%</label>
                                </span>
                            </li>
                            <li>
                                <span>
                                    <input id="lenghas1" name="toppings" value="" type="checkbox">
                                    <label for="lenghas1">70%</label>
                                </span>
                            </li>
                        </ul>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</div>