<footer>
   <div class="container">
      <div class="row">
         <div class="col-md-3 col-sm-4 col-xs-4">
            <div class="ftr_link">
               <h2>Policy Info</h2>
               <ul>
                  <li><a href="">Privacy Policy</a></li>
                  <li><a href="">Terms of Sale</a></li>
                  <li><a href="">Terms of Use</a></li>
                  <li><a href="">Report Abuse &amp; Takedown Policy</a></li>
                  <li><a href="">CSR Policy</a></li>
               </ul>
            </div>
         </div>
         <div class="col-md-2 col-sm-4 col-xs-4">
            <div class="ftr_link">
               <h2>Company</h2>
               <ul>
                  <li><a href="">About Us</a></li>
                  <li><a href="">Core Values</a></li>
                  <li><a href="">Careers</a></li>
                  <li><a href="">Sitemap</a></li>
               </ul>
            </div>
         </div>
         <div class="col-md-2 col-sm-4 col-xs-4">
            <div class="ftr_link">
               <h2>Need Help?</h2>
               <ul>
                  <li><a href="">FAQ</a></li>
                  <li><a href="">Contact Us</a></li>
               </ul>
               <img src="/images/100.png" alt="">
            </div>
         </div>
         <div class="col-md-5 col-sm-12 col-xs-12">
            <div class="ftr_link">
               <h2>Subscribe</h2>
               <div class="subscribe_holder">
                  <input type="email" placeholder="Register now to get updates on">
                  <button class="btn blue_btn">Subscribe</button>
               </div>
               <p>Register now to get updates on promotions and coupons. Or <a href="">Download App</a></p>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="card_holder">
               <img src="/images/card.png" alt="">
            </div>
         </div>
         <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="social_holder">
               <ul>
                  <li><a href=""><span><i class="fa fa-facebook" aria-hidden="true"></i></span></a></li>
                  <li><a href=""><span><i class="fa fa-twitter" aria-hidden="true"></i></span></a></li>
                  <li><a href=""><span><i class="fa fa-google-plus" aria-hidden="true"></i></span></a></li>
                  <li><a href=""><span><i class="fa fa-youtube-play" aria-hidden="true"></i></span></a></li>
                  <li><a href=""><span><i class="fa fa-instagram" aria-hidden="true"></i></span></a></li>
                  <li><a href=""><span><i class="fa fa-pinterest" aria-hidden="true"></i></span></a></li>
               </ul>
            </div>
         </div>
      </div>
   </div>
   <div class="btm_ftr">
      Copyright © 2016, nexhop.com All Rights Reserved
   </div>
</footer>
</div>