<section>
    <div class="cart_detail secpad">
        <div class="container">
            <div class="cart_detail_holder">
                <div class="row">
                    <div class="col-md-8">
                       <div class="left_cart_detail slt_adrs">
                       <h2>Select Delivary Address </h2>
                          <div class="row">
                              <div class="col-lg-6">
                                  <div class="select_add">
                                    
                                        <div class="select_add_wrap">
                                            <div class="select_ad_box">
                                            
                                            <div class="check_side">
                                                <input id="mych" type="checkbox">
                                                <label for="mych"></label>
                                            </div>
                                            
                                            <div class="add_content">
                                                <h3>John warner</h3>
                                                <p>
                                                    98, Satin Sen Road
                                                    Sodepur
                                                    North 24 Parganas- 700113
                                                    West Bengal
                                                </p>
                                                
                                                <p>
                                                    Mobile:<strong>9163410614</strong>
                                                </p>
                                                
                                                <ol>
                                                    <li><i class="fa fa-circle" aria-hidden="true"></i>Cash on Delivery available</li>
                                                    <li><i class="fa fa-circle" aria-hidden="true"></i>Standres Delivery available</li>
                                                </ol>
                                            </div>
                                            </div>
                                            
                                            <div class="add_cont_btm">
                                                <a href="#"><i class="fa fa-times" aria-hidden="true"></i>Remove</a>
                                                <a href="#">Edit</a>
                                            </div>
                                        
                                        </div>
                                        
                                  </div>

                              </div>
                              
                              <div class="col-lg-6">
                                  <div class="select_add">
                                      
                                        <div class="select_add_wrap">
                                            <div class="select_ad_box">
                                            
                                            <div class="check_side">
                                                <input id="bata" type="checkbox">
                                                <label for="bata"></label>
                                            </div>
                                            
                                            <div class="add_content">
                                                <h3>John warner</h3>
                                                <p>
                                                    98, Satin Sen Road
                                                    Sodepur
                                                    North 24 Parganas- 700113
                                                    West Bengal
                                                </p>
                                                
                                                <p>
                                                    Mobile:<strong>9163410614</strong>
                                                </p>
                                                
                                                <ol>
                                                    <li><i class="fa fa-circle" aria-hidden="true"></i>Cash on Delivery available</li>
                                                    <li><i class="fa fa-circle" aria-hidden="true"></i>Standres Delivery available</li>
                                                </ol>
                                            </div>
                                            </div>
                                            
                                            <div class="add_cont_btm">
                                                <a href="#"><i class="fa fa-times" aria-hidden="true"></i>Remove</a>
                                                <a href="#">Edit</a>
                                            </div>
                                        
                                        </div>
                                        
                                  </div>

                              </div>
                              
                              
                              <div class="col-lg-6">
                                  <div class="select_add">
                                     
                                        <div class="select_add_wrap">
                                            <div class="select_ad_box">
                                            
                                            <div class="check_side">
                                                <input id="rain" type="checkbox">
                                                <label for="rain"></label>
                                            </div>
                                            
                                            <div class="add_content">
                                                <h3>John warner</h3>
                                                <p>
                                                    98, Satin Sen Road
                                                    Sodepur
                                                    North 24 Parganas- 700113
                                                    West Bengal
                                                </p>
                                                
                                                <p>
                                                    Mobile:<strong>9163410614</strong>
                                                </p>
                                                
                                                <ol>
                                                    <li><i class="fa fa-circle" aria-hidden="true"></i>Cash on Delivery available</li>
                                                    <li><i class="fa fa-circle" aria-hidden="true"></i>Standres Delivery available</li>
                                                </ol>
                                            </div>
                                            </div>
                                            
                                            <div class="add_cont_btm">
                                                <a href="#"><i class="fa fa-times" aria-hidden="true"></i>Remove</a>
                                                <a href="#">Edit</a>
                                            </div>
                                        
                                        </div>
                                        
                                  </div>

                              </div>
                              
                              
                              
                              <div class="col-lg-6">
                                  <div class="select_add">
                                    <a href="#" class="add_address ad_border">
                                               <div class="add">
                                                   <div class="plus">
                                                       <i class="fa fa-plus" aria-hidden="true"></i>
                                                   </div>
                                                   
                                                   <h3>John warner</h3>
                                               </div>
                                           </a>
                                  </div>

                              </div>
                              
                              
                          </div>
                        
                      </div>
                        
                    </div>
                    <div class="col-md-4">
                        <div class="right_cart_detail">
                            <div class="each_option_sec">
                                <h3>Delivery Speed</h3>
                                
                                <div class="standar_del">
                                <strong>Standard Delivery</strong>
                                <span>Free Delivery</span>
                                </div>
                                
                                
                                <div class="estimate_del">
                                    <h3>Estimated Delivery Dates</h3>
                                    
                                    <ul>
                                        <li>
                                            <figure><img src="images/thumb_pic1.png" alt=""></figure>
                                            <span>4 Nov 2016</span>
                                        </li>
                                        
                                        <li>
                                            <figure><img src="images/thumb_pic2.png" alt=""></figure>
                                            <span>4 Nov 2016</span>
                                        </li>
                                    </ul>
                                    
                                    <strong>2 ITEMS</strong>
                                    
                                </div>
                            
                            </div>
                            
                            
                           
                            
                            <div class="each_option_sec price_detail">
                              
                                
                                <div class="summary">
                                    <ul>
                                        <li><p>Order Total </p><a href="#">View Details </a></li>
                                        <li><p>$1,147 </p></li>
                                    </ul>
                                   
                                   
                                    <ul>
                                        <li><p>Delivery </p></li>
                                        <li><p class="green_text">Free</p></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="order_total">
                                <div class="order_head">
                                    <h3>Order Total</h3>
                                    <h3>$1,147</h3>
                                </div>
                                <input type="button" class="blue_solid_btn" name="" value="Place Order">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>