<section>
    <div class="cart_detail secpad">
        <div class="container">
            <div class="cart_detail_holder">
                <div class="row">
                    <div class="col-md-8">
                        <div class="left_cart_detail">
                            <div class="cart_deatil_header">
                                <h3>Add New Address</h3>
                            </div>
                           
                           <div class="address_form">
                              <from>
                                    <div class="address_row">
                                        <div class="add_field cover_field ">
                                            <input type="text" name="" value="">
                                            <label>Pin Code *</label>
                                        </div>
                                        
                                        <div class="add_field pin_field">
                                           
                                        </div>
                                    </div>
                                    
                                    
                                     <div class="address_row cover_field">
                                        <input type="text" name="" value="">
                                        <label>Locality / Town *</label>
                                    </div>
                                    
                                    
                                    <div class="address_row">
                                        <div class="add_field cover_field">
                                            <input type="text" name="" value="">
                                            <label>City / District *</label>
                                        </div>
                                        
                                        <div class="add_field cover_field">
                                           <input type="text" name="" value="">
                                            <label>State *</label>
                                        </div>
                                    </div>
                                    
                                    
                                    <div class="address_row cover_field">
                                        <input type="text" name="" value="">
                                        <label>Name *</label>
                                    </div>
                                    
                                    <div class="address_row cover_field">
                                        <textarea></textarea>
                                        <label>Address *</label>
                                    </div>
                                    
                                    
                                    <div class="address_row">
                                        <div class="add_field cover_field">
                                            <input type="tel" name="" value="">
                                            <label>Mobile No*</label>
                                        </div>
                                        
                                        <div class="add_field">
                                           
                                        </div>
                                    </div>
                                    
                                     <div class="address_row">
                                      
                                       <div class="check_box">
                                         <input id="check1" type="checkbox">
                                         <label for="check1">Make this my default address</label>  
                                       </div>
                                        
                                    </div>
                                    
                                    <div class="address_row">
                                        <div class="add_btn">
                                           <input type="button" class="button2 btns" name="" value="Cancel">
                                           <input type="submit" class="button btns" name="" value="Save">
                                        </div>
                                    </div>
                                    
                              </from>
                           </div>
                           
                           
                           
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="right_cart_detail">
                            <div class="each_option_sec">
                                <h3>Delivery Speed</h3>
                                
                                <div class="standar_del">
                                <strong>Standard Delivery</strong>
                                <span>Free Delivery</span>
                                </div>
                                
                                
                                <div class="estimate_del">
                                    <h3>Estimated Delivery Dates</h3>
                                    
                                    <ul>
                                        <li>
                                            <figure><img src="images/thumb_pic1.png" alt=""></figure>
                                            <span>4 Nov 2016</span>
                                        </li>
                                        
                                        <li>
                                            <figure><img src="images/thumb_pic2.png" alt=""></figure>
                                            <span>4 Nov 2016</span>
                                        </li>
                                    </ul>
                                    
                                    <strong>2 ITEMS</strong>
                                    
                                </div>
                            
                            </div>
                            
                            
                           
                            
                            <div class="each_option_sec price_detail">
                              
                                
                                <div class="summary">
                                    <ul>
                                        <li><p>Order Total </p><a href="#">View Details </a></li>
                                        <li><p>$1,147 </p></li>
                                    </ul>
                                   
                                   
                                    <ul>
                                        <li><p>Delivery </p></li>
                                        <li><p class="green_text">Free</p></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="order_total">
                                <div class="order_head">
                                    <h3>Order Total</h3>
                                    <h3>$1,147</h3>
                                </div>
                                <input type="button" class="blue_solid_btn" name="" value="Place Order">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>  