<section>
   <div class="cart_detail secpad">
      <div class="container">
         <div class="cart_detail_holder">
            <div class="row">
               <div class="col-md-8">
                  <div class="left_cart_detail">
                     <div class="cart_deatil_header">
                        <h3>Choose Payment Mode</h3>
                        <p>You Pay $ 1,747</p>
                     </div>
                     <div class="payment_tab">
                        <div id="parentVerticalTab">
                           <ul class="resp-tabs-list left_tab">
                              <li>CREDIT / DEBIT CARD</li>
                              <li>NET BANKING</li>
                              <li>CASH ON DELIVERY</li>
                           </ul>
                           <div class="resp-tabs-container tab_cont">
                              <div class="right_tab_con">
                                 <div>
                                    <div class="tab_con_header">
                                       <h4>Net banking 001</h4>
                                    </div>
                                    <div class="tab_con_main">
                                       <ul>
                                          <li><a href="">
                                             <span><img src="static/images/national_bank.jpg"></span>
                                             <span>National bank Of Canada</span>
                                             </a>
                                          </li>
                                          <li><a href="">
                                             <span><img src="static/images/royal.jpg"></span>
                                             <span>Royal bank Of Canada</span>
                                             </a>
                                          </li>
                                          <li><a href="">
                                             <span><img src="static/images/sco.jpg"></span>
                                             <span>Scotia bank Of Canada</span>
                                             </a>
                                          </li>
                                          <li><a href="">
                                             <span><img src="static/images/gen.jpg"></span>
                                             <span>General bank Of Canada</span>
                                             </a>
                                          </li>
                                          <li><a href="">
                                             <span><img src="static/images/ex.jpg"></span>
                                             <span>Exchange bank Of Canada</span>
                                             </a>
                                          </li>
                                          <li><a href="">
                                             <span><img src="static/images/hsbc.jpg"></span>
                                             <span>HSBC bank Of Canada</span>
                                             </a>
                                          </li>
                                          <li><a href="">
                                             <span><img src="static/images/ban.jpg"></span>
                                             <span>Bancorp South</span>
                                             </a>
                                          </li>
                                          <li><a href="">
                                             <span><img src="static/images/lau.jpg"></span>
                                             <span>Laurentian bank </span>
                                             </a>
                                          </li>
                                       </ul>
                                       <select>
                                          <option>Other Banks</option>
                                          <option>1</option>
                                          <option>2</option>
                                       </select>
                                       <div class="check_pro">
                                          <span>
                                          <input id="for_men" name="toppings" value="" type="checkbox">
                                          <label for="for_men">Save this card for faster payments <i class="fa fa-info-circle" aria-hidden="true"></i></label>
                                          </span>
                                       </div>
                                       <input type="button" value="Pay Now">
                                    </div>
                                 </div>
                              </div>
                              <div class="right_tab_con">
                                 <div>
                                    <div class="tab_con_header">
                                       <h4>Net banking 002</h4>
                                    </div>
                                    <div class="tab_con_main">
                                       <ul>
                                          <li><a href="">
                                             <span><img src="static/images/national_bank.jpg"></span>
                                             <span>National bank Of Canada</span>
                                             </a>
                                          </li>
                                          <li><a href="">
                                             <span><img src="static/images/royal.jpg"></span>
                                             <span>Royal bank Of Canada</span>
                                             </a>
                                          </li>
                                          <li><a href="">
                                             <span><img src="static/images/sco.jpg"></span>
                                             <span>Scotia bank Of Canada</span>
                                             </a>
                                          </li>
                                          <li><a href="">
                                             <span><img src="static/images/gen.jpg"></span>
                                             <span>General bank Of Canada</span>
                                             </a>
                                          </li>
                                          <li><a href="">
                                             <span><img src="static/images/ex.jpg"></span>
                                             <span>Exchange bank Of Canada</span>
                                             </a>
                                          </li>
                                          <li><a href="">
                                             <span><img src="static/images/hsbc.jpg"></span>
                                             <span>HSBC bank Of Canada</span>
                                             </a>
                                          </li>
                                          <li><a href="">
                                             <span><img src="static/images/ban.jpg"></span>
                                             <span>Bancorp South</span>
                                             </a>
                                          </li>
                                          <li><a href="">
                                             <span><img src="static/images/lau.jpg"></span>
                                             <span>Laurentian bank </span>
                                             </a>
                                          </li>
                                       </ul>
                                       <select>
                                          <option>Other Banks</option>
                                          <option>1</option>
                                          <option>2</option>
                                       </select>
                                       <div class="check_pro">
                                          <span>
                                          <input id="for_men" name="toppings" value="" type="checkbox">
                                          <label for="for_men">Save this card for faster payments <i class="fa fa-info-circle" aria-hidden="true"></i></label>
                                          </span>
                                       </div>
                                       <input type="button" value="Pay Now">
                                    </div>
                                 </div>
                              </div>
                              <div class="right_tab_con">
                                 <div>
                                    <div class="tab_con_header">
                                       <h4>Net banking 003</h4>
                                    </div>
                                    <div class="tab_con_main">
                                       <ul>
                                          <li><a href="">
                                             <span><img src="static/images/national_bank.jpg"></span>
                                             <span>National bank Of Canada</span>
                                             </a>
                                          </li>
                                          <li><a href="">
                                             <span><img src="static/images/royal.jpg"></span>
                                             <span>Royal bank Of Canada</span>
                                             </a>
                                          </li>
                                          <li><a href="">
                                             <span><img src="static/images/sco.jpg"></span>
                                             <span>Scotia bank Of Canada</span>
                                             </a>
                                          </li>
                                          <li><a href="">
                                             <span><img src="static/images/gen.jpg"></span>
                                             <span>General bank Of Canada</span>
                                             </a>
                                          </li>
                                          <li><a href="">
                                             <span><img src="static/images/ex.jpg"></span>
                                             <span>Exchange bank Of Canada</span>
                                             </a>
                                          </li>
                                          <li><a href="">
                                             <span><img src="static/images/hsbc.jpg"></span>
                                             <span>HSBC bank Of Canada</span>
                                             </a>
                                          </li>
                                          <li><a href="">
                                             <span><img src="static/images/ban.jpg"></span>
                                             <span>Bancorp South</span>
                                             </a>
                                          </li>
                                          <li><a href="">
                                             <span><img src="static/images/lau.jpg"></span>
                                             <span>Laurentian bank </span>
                                             </a>
                                          </li>
                                       </ul>
                                       <select>
                                          <option>Other Banks</option>
                                          <option>1</option>
                                          <option>2</option>
                                       </select>
                                       <div class="check_pro">
                                          <span>
                                          <input id="for_men" name="toppings" value="" type="checkbox">
                                          <label for="for_men">Save this card for faster payments <i class="fa fa-info-circle" aria-hidden="true"></i></label>
                                          </span>
                                       </div>
                                       <input type="button" value="Pay Now">
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="item_size_holder">
                        <h4>AKS Red Printed Anarkali Kurta</h4>
                        <div class="size_guide">
                           <p>Size: </p>
                           <ul>
                              <li><a href="">S</a></li>
                              <li><a href="">M</a></li>
                              <li class="active"><a href="">L</a></li>
                              <li><a href="">XL</a></li>
                              <li class="betline">XXL</li>
                              <li>
                                 <p>Qty</p>
                                 <input type="number" class="qnty" value="1">
                              </li>
                           </ul>
                           <ul class="size_button">
                              <li><button>Cancel</button></li>
                              <li><button class="default_btn">Save</button></li>
                           </ul>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-md-4">
                  <div class="right_cart_detail">
                     <div class="each_option_sec">
                        <h3>Options</h3>
                        <h4>Coupons</h4>
                        <p><a href="">Log in</a> to use account-linked coupons</p>
                     </div>
                     <div class="each_option_sec price_detail">
                        <ul>
                           <li>
                              <h3>Gift wrap for $ 25</h3>
                              <p>Cash On Delivery not available</p>
                           </li>
                           <li>
                              <span>
                              <input id="check" name="toppings" value="" type="checkbox">
                              <label for="check"></label>
                              </span>
                           </li>
                        </ul>
                        <ul class="heading_price">
                           <li>
                              <h3>Price Details</h3>
                           </li>
                        </ul>
                        <div class="summary">
                           <ul>
                              <li>
                                 <p>Bag Total</p>
                              </li>
                              <li>
                                 <p>$ 3,198</p>
                              </li>
                           </ul>
                           <ul>
                              <li>
                                 <p>Bag Discount-</p>
                              </li>
                              <li>
                                 <p class="brown_text">$ 1,599</p>
                              </li>
                           </ul>
                           <ul>
                              <li>
                                 <p>Estimated VAT/CST</p>
                              </li>
                              <li>
                                 <p>$ 80</p>
                              </li>
                           </ul>
                           <ul>
                              <li>
                                 <p>Coupon Discount</p>
                              </li>
                              <li>
                                 <p class="blue_text">Apply Coupon</p>
                              </li>
                           </ul>
                           <ul>
                              <li>
                                 <p>Delivery </p>
                              </li>
                              <li>
                                 <p class="green_text">Free</p>
                              </li>
                           </ul>
                        </div>
                     </div>
                     <div class="order_total">
                        <div class="order_head">
                           <h3>Order Total</h3>
                           <h3>$ 1,679</h3>
                        </div>
                        <input type="button" class="blue_solid_btn" name="" value="Place Order">
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
</div>
<script src="/js/easyResponsiveTabs.js" type="text/javascript"></script>
<script>
   $('#parentVerticalTab').easyResponsiveTabs({
          type: 'vertical', //Types: default, vertical, accordion
          width: 'auto', //auto or any width like 600px
          fit: true, // 100% fit in a container
          closed: 'accordion', // Start closed if in accordion view
          tabidentify: 'hor_1', // The tab groups identifier
          activate: function(event) { // Callback function if tab is switched
              var $tab = $(this);
              var $info = $('#nested-tabInfo2');
              var $name = $('span', $info);
              $name.text($tab.text());
              $info.show();
          }
      });
</script>